
{# src/webStudent/EtudiantBundle/Resources/views/Etudiant/index.html.twig #}
<!DOCTYPE html>
<html>
 <head>
 <title>Bienvenue sur votre première page créée avec Symfony !</title>
 </head>
 <body>
 <h1>Salut les étudiants</h1>
 
 <p>
 Félicitations, vous avez réussi à cérer une première page. Vous avez compris ?!?
 <a href="{{ path('web_student_etudiant_homepage'}}">Lien vers la meme page d'id </a>
 
 </p>
 </body>
</html>
