
{# src/webStudent/EtudiantBundle/Resources/views/Etudiant/niveauConsulter.html.twig #}
<!DOCTYPE html>
<html>
 <head>
 <title>Consultation d'un niveau !</title>
 </head>
 <body>
 <h1>Affichage des niveaux</h1>
 
 <p> Félicitations, vous avez réussi à créer une première page. Vous avez compris ?!?
 <table>
 <td><tr>niveau1</tr><tr>{ 'id1': id1}</tr></td>
 </table>
 
 </p>
 </p>
 </body>
</html>
